{% extends "base_template.jinja" %}

{% block title %}About{% endblock %}
{% block content %}
    <h1>About us</h1>
    <p>Brief description</p>
    <h3>Sonar</h3>
    <p>Brief description</p>
    <h3>Ace Coronet</h3>
    <p>Brief description</p>
{% endblock %}